/****** Object:  Database [NMUBookTrade]    Script Date: 10/17/2025 10:56:05 AM ******/
CREATE DATABASE [NMUBookTrade]  (EDITION = 'Free', SERVICE_OBJECTIVE = 'Free', MAXSIZE = 32 MB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  User [PETER]    Script Date: 10/17/2025 10:56:05 AM ******/
CREATE USER [PETER] WITH PASSWORD=N'XOCH0VajAQ0KLvBdHBmF6v01gfnnCQv3FxSIVzE6DPc=', DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [PABALLO]    Script Date: 10/17/2025 10:56:05 AM ******/
CREATE USER [PABALLO] WITH PASSWORD=N'dSero06PuDM+MZ1bAiMFbXwzM72QoNKu6kGKnF2sEgM=', DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GRACE]    Script Date: 10/17/2025 10:56:05 AM ******/
CREATE USER [GRACE] WITH PASSWORD=N'tW/eDL31Qp0ZQDszDLHHQLPcCNm917/00UsPPaeAFR4=', DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CLINTON]    Script Date: 10/17/2025 10:56:05 AM ******/
CREATE USER [CLINTON] WITH PASSWORD=N'LV6IDJAMpbPwMg+WdsYXsY1ftwakO3Gp2QFau/4WcuY=', DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'PETER'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N'PETER'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'PABALLO'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N'PABALLO'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'GRACE'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'CLINTON'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N'CLINTON'
GO
/****** Object:  Table [dbo].[Access]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Access](
	[accessID] [int] NOT NULL,
	[accessName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[accessID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[adminEmail] [varchar](100) NULL,
	[adminUsername] [nvarchar](50) NULL,
	[adminPassword] [nvarchar](85) NULL,
	[adminProfileImage] [nvarchar](max) NULL,
 CONSTRAINT [PK__Admin__AD050086D5E5A007] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[bookISBN] [varchar](20) NOT NULL,
	[title] [varchar](200) NULL,
	[author] [varchar](100) NULL,
	[genreID] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[condition] [varchar](50) NULL,
	[categoryID] [int] NULL,
	[driverID] [int] NULL,
	[sellerID] [int] NULL,
	[coverImage] [varchar](max) NULL,
	[pdfFile] [varchar](max) NULL,
	[status] [varchar](20) NULL,
	[deliveryDate] [date] NULL,
	[version] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookISBN] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookConditions]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookConditions](
	[ID] [smallint] NULL,
	[Name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buyer]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer](
	[buyerID] [int] IDENTITY(1,1) NOT NULL,
	[buyerUsername] [nvarchar](50) NULL,
	[buyerPassword] [nvarchar](85) NULL,
	[buyerName] [varchar](100) NULL,
	[buyerSurname] [varchar](100) NULL,
	[buyerEmail] [varchar](100) NULL,
	[buyerNumber] [varchar](20) NULL,
	[buyerAddress] [varchar](200) NULL,
	[buyerProfileImage] [nvarchar](max) NULL,
	[accessID] [int] NULL,
 CONSTRAINT [PK__Buyer__DB77A624572DBE18] PRIMARY KEY CLUSTERED 
(
	[buyerID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Buyer_Email] UNIQUE NONCLUSTERED 
(
	[buyerEmail] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Buyer_Username] UNIQUE NONCLUSTERED 
(
	[buyerUsername] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[buyerID] [int] NULL,
	[cartID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cartID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Buyer_Cart_OnetoOne] UNIQUE NONCLUSTERED 
(
	[buyerID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cart_Buyer] UNIQUE NONCLUSTERED 
(
	[buyerID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[cartID] [int] NULL,
	[bookISBN] [varchar](20) NULL,
	[quantity] [int] NULL,
	[saleID] [int] NULL,
	[cartItemID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cartItemID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConstraintBackup]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConstraintBackup](
	[constraint_name] [nvarchar](128) NULL,
	[parent_table] [nvarchar](128) NULL,
	[referenced_table] [nvarchar](128) NULL,
	[definition] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[deliveryID] [int] NOT NULL,
	[saleID] [int] NOT NULL,
	[deliveryDate] [datetime] NULL,
	[driverID] [int] NULL,
	[status] [int] NOT NULL,
	[deliveryAddress] [varchar](200) NULL,
	[startTime] [datetime] NULL,
	[endTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[deliveryID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[saleID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[driverID] [int] IDENTITY(1,1) NOT NULL,
	[driverUsername] [nvarchar](50) NULL,
	[driverPassword] [nvarchar](85) NULL,
	[driverName] [varchar](100) NULL,
	[driverSurname] [varchar](100) NULL,
	[driverEmail] [varchar](100) NULL,
	[driverPhoneNumber] [varchar](20) NULL,
	[accessID] [int] NULL,
	[driverProfileImage] [nvarchar](max) NULL,
 CONSTRAINT [PK__Driver__F1532C12E7D3FBBF] PRIMARY KEY CLUSTERED 
(
	[driverID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Driver_Email] UNIQUE NONCLUSTERED 
(
	[driverEmail] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Driver_Username] UNIQUE NONCLUSTERED 
(
	[driverUsername] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[genreName] [varchar](50) NULL,
	[genreID] [int] IDENTITY(1,1) NOT NULL,
	[categoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[genreID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[reviewID] [int] NOT NULL,
	[reviewRating] [int] NULL,
	[reviewComment] [varchar](500) NULL,
	[saleID] [int] NULL,
	[reviewDate] [datetime] NULL,
	[isFlagged] [int] NULL,
	[isApproved] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[reviewID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[saleID] [int] NOT NULL,
	[buyerID] [int] NULL,
	[sellerID] [int] NULL,
	[bookISBN] [varchar](20) NULL,
	[amount] [decimal](10, 2) NULL,
	[saleDate] [datetime] NULL,
	[orderGroupID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[saleID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seller]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seller](
	[sellerID] [int] IDENTITY(1,1) NOT NULL,
	[sellerUsername] [nvarchar](50) NULL,
	[sellerPassword] [nvarchar](85) NULL,
	[sellerName] [varchar](100) NULL,
	[sellerSurname] [varchar](100) NULL,
	[sellerEmail] [varchar](100) NULL,
	[sellerNumber] [varchar](20) NULL,
	[sellerAddress] [varchar](200) NULL,
	[sellerProfileImage] [nvarchar](max) NULL,
	[accessID] [int] NULL,
 CONSTRAINT [PK__Seller__B5FAE31EE47A8B0F] PRIMARY KEY CLUSTERED 
(
	[sellerID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Seller_Email] UNIQUE NONCLUSTERED 
(
	[sellerEmail] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Seller_Username] UNIQUE NONCLUSTERED 
(
	[sellerUsername] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportMessages]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportMessages](
	[messageID] [int] IDENTITY(1,1) NOT NULL,
	[dateSent] [datetime] NULL,
	[messageContent] [nvarchar](max) NULL,
	[senderEmail] [nvarchar](255) NULL,
	[isRead] [bit] NOT NULL,
 CONSTRAINT [PK__SupportM__4808B8734ABB3479] PRIMARY KEY CLUSTERED 
(
	[messageID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT ('hardCopy') FOR [version]
GO
ALTER TABLE [dbo].[Delivery] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Review] ADD  CONSTRAINT [DF_Review_status]  DEFAULT ((1)) FOR [isFlagged]
GO
ALTER TABLE [dbo].[Review] ADD  CONSTRAINT [DF_Review_isApproved]  DEFAULT ((0)) FOR [isApproved]
GO
ALTER TABLE [dbo].[SupportMessages] ADD  DEFAULT ((0)) FOR [isRead]
GO
ALTER TABLE [dbo].[Buyer]  WITH CHECK ADD  CONSTRAINT [FK_Buyer_Access] FOREIGN KEY([accessID])
REFERENCES [dbo].[Access] ([accessID])
GO
ALTER TABLE [dbo].[Buyer] CHECK CONSTRAINT [FK_Buyer_Access]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Buyer] FOREIGN KEY([buyerID])
REFERENCES [dbo].[Buyer] ([buyerID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Buyer]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([bookISBN])
REFERENCES [dbo].[Book] ([bookISBN])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([bookISBN])
REFERENCES [dbo].[Book] ([bookISBN])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([bookISBN])
REFERENCES [dbo].[Book] ([bookISBN])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK__CartItems__cartI__123EB7A3] FOREIGN KEY([cartID])
REFERENCES [dbo].[Cart] ([cartID])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK__CartItems__cartI__123EB7A3]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK__CartItems__cartI__37703C52] FOREIGN KEY([cartID])
REFERENCES [dbo].[Cart] ([cartID])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK__CartItems__cartI__37703C52]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK__CartItems__cartI__7B5B524B] FOREIGN KEY([cartID])
REFERENCES [dbo].[Cart] ([cartID])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK__CartItems__cartI__7B5B524B]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([saleID])
REFERENCES [dbo].[Sale] ([saleID])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([saleID])
REFERENCES [dbo].[Sale] ([saleID])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([saleID])
REFERENCES [dbo].[Sale] ([saleID])
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Driver] FOREIGN KEY([driverID])
REFERENCES [dbo].[Driver] ([driverID])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Driver]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Sale] FOREIGN KEY([saleID])
REFERENCES [dbo].[Sale] ([saleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Sale]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_Access] FOREIGN KEY([accessID])
REFERENCES [dbo].[Access] ([accessID])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_Access]
GO
ALTER TABLE [dbo].[Genre]  WITH CHECK ADD  CONSTRAINT [FK_Genres_Categories] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Genre] CHECK CONSTRAINT [FK_Genres_Categories]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([saleID])
REFERENCES [dbo].[Sale] ([saleID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([saleID])
REFERENCES [dbo].[Sale] ([saleID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([saleID])
REFERENCES [dbo].[Sale] ([saleID])
GO
ALTER TABLE [dbo].[Seller]  WITH CHECK ADD  CONSTRAINT [FK_Seller_Access] FOREIGN KEY([accessID])
REFERENCES [dbo].[Access] ([accessID])
GO
ALTER TABLE [dbo].[Seller] CHECK CONSTRAINT [FK_Seller_Access]
GO
/****** Object:  StoredProcedure [dbo].[GetAverageReviewRatingBySeller]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAverageReviewRatingBySeller]
    @SellerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COALESCE(AVG(CAST(r.reviewRating AS FLOAT)), 0) AS AvgRating
    FROM Review r
    JOIN Sale s ON r.saleID = s.saleID
    JOIN Book b ON s.bookISBN = b.bookISBN
    WHERE b.sellerID = @SellerID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetDeliveriesForSchedule]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. CREATE/UPDATED STORED PROCEDURE
-- =================================
CREATE   PROCEDURE [dbo].[GetDeliveriesForSchedule]
    @StartDate DATETIME,
    @EndDate DATETIME,
    @DriverID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        d.deliveryID,
        ISNULL(b.title, 'No Book Title') AS BookTitle,
        ISNULL(buyer.buyerAddress, 'No Address') AS Location,
        ISNULL(drv.driverName + ' ' + drv.driverSurname, 'Unassigned') AS DriverName,
        CASE 
            WHEN d.status = 0 THEN 'Pending'
            WHEN d.status = 1 THEN 'Assigned'
            WHEN d.status = 2 THEN 'In Transit'
            WHEN d.status = 3 THEN 'Completed'
            WHEN d.status = 4 THEN 'Failed'
            ELSE 'Unknown'
        END AS Status,
        DATENAME(WEEKDAY, d.deliveryDate) AS Day,
        CASE
            WHEN CAST(d.deliveryDate AS TIME) BETWEEN '08:00' AND '12:00' THEN 'Morning (8am-12pm)'
            WHEN CAST(d.deliveryDate AS TIME) BETWEEN '12:00' AND '16:00' THEN 'Afternoon (12pm-4pm)'
            WHEN CAST(d.deliveryDate AS TIME) BETWEEN '16:00' AND '20:00' THEN 'Evening (4pm-8pm)'
            ELSE 'All Day'
        END AS TimeSlot,
        d.deliveryDate
    FROM Delivery d
    LEFT JOIN Sale s ON d.saleID = s.saleID
    LEFT JOIN Book b ON s.bookISBN = b.bookISBN
    LEFT JOIN Buyer buyer ON s.buyerID = buyer.buyerID
    LEFT JOIN Driver drv ON d.driverID = drv.driverID
    WHERE d.deliveryDate BETWEEN @StartDate AND @EndDate
    AND (@DriverID IS NULL OR d.driverID = @DriverID)
    ORDER BY d.deliveryDate;
END

GO
/****** Object:  StoredProcedure [dbo].[GetDriverDeliveries]    Script Date: 10/17/2025 10:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDriverDeliveries]
    @DriverID INT,
    @StatusFilter INT = NULL,
    @StartDate DATETIME = NULL,
    @EndDate DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        d.deliveryID,
        ISNULL(b.title, 'No Book Title') AS BookTitle,
        ISNULL(seller.sellerName + ' ' + seller.sellerSurname, 'Unknown Seller') AS SellerName,
        ISNULL(seller.sellerAddress, 'No Pickup Address') AS PickupAddress,
        ISNULL(buyer.buyerName + ' ' + buyer.buyerSurname, 'Unknown Buyer') AS BuyerName,
        ISNULL(buyer.buyerAddress, 'No Delivery Address') AS DeliveryAddress,
        CASE 
            WHEN d.status = 0 THEN 'Pending'
            WHEN d.status = 1 THEN 'Assigned'
            WHEN d.status = 2 THEN 'In Transit'
            WHEN d.status = 3 THEN 'Completed'
            WHEN d.status = 4 THEN 'Failed'
            ELSE 'Unknown'
        END AS Status,
        d.deliveryDate AS ScheduledDate,
        d.status AS StatusCode
    FROM Delivery d
    INNER JOIN Sale s ON d.saleID = s.saleID
    LEFT JOIN Book b ON s.bookISBN = b.bookISBN
    LEFT JOIN Seller seller ON s.sellerID = seller.sellerID
    LEFT JOIN Buyer buyer ON s.buyerID = buyer.buyerID
    WHERE d.driverID = @DriverID
    AND (@StatusFilter IS NULL OR d.status = @StatusFilter)
    AND (@StartDate IS NULL OR d.deliveryDate >= @StartDate)
    AND (@EndDate IS NULL OR d.deliveryDate <= @EndDate)
    ORDER BY d.deliveryDate DESC;
END
GO
